<!DOCTYPE html>
<html>
  <head>
    <title>Doc</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', params[:controller], :media => "all" %>
    <%= javascript_include_tag "application", params[:controller] %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <header>
    <h1>Le blog d'Etoele</h1>
    <% if admin_signed_in? %>
      <%= link_to('Deconnexion', destroy_admin_session_path, :class => "btn btn-submit", method: :delete) %>
    <% else %>
      <%= link_to('Connexion', admin_session_path, :class => "btn btn-submit") %>
    <% end %>
    <div class="spacer"></div> 
  </header>
    <body>
    <nav>
      <img src="<%= asset_path 'logo-etoele.svg' %>"></img>
    </nav>
    <article>
      <%= yield %>
    </article>
  </body>
</html>
